### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# set total number of schools and students
total_schools = len(school_data)
total_students = len(student_data)

# get total budget
total_budget = school_data['budget'].sum()

# get avg scores
avg_math_score = student_data['math_score'].mean()
avg_read_score = student_data['reading_score'].mean()

# get number of passing math students
math_pass_df = student_data.loc[(student_data['math_score'] >= 70), : ]
stu_passing_math = len(math_pass_df)

# get number of passing reading students
read_pass_df = student_data.loc[(student_data['reading_score'] >= 70), : ]
stu_passing_read = len(read_pass_df)

# get number of students passing both math and reading
overall_pass_df = pd.merge(math_pass_df, read_pass_df, how='inner', on='Student ID', suffixes=('_math', '_read'))
stu_passing_overall = len(overall_pass_df)

# calculate pass percentage by type
perc_pass_math = stu_passing_math / total_students * 100
perc_pass_read = stu_passing_read / total_students * 100
perc_pass_overall = stu_passing_overall / total_students * 100

# create data_frame
district_summary_df = pd.DataFrame([
    {
        'Total Schools': total_schools,
        'Total Students': total_students,
        'Total Budget': total_budget,
        'Average Math Score': avg_math_score,
        'Average Reading Score': avg_read_score,
        '% Passing Math': perc_pass_math,
        '% Passing Reading': perc_pass_read,
        '% Overall Passing': perc_pass_overall
    }
])

# format District Summary dataframe
district_summary_df['Total Students'] = district_summary_df['Total Students'].map('{:,}'.format)
district_summary_df['Total Budget'] = district_summary_df['Total Budget'].map('${:,.2f}'.format)
district_summary_df['Average Math Score'] = district_summary_df['Average Math Score'].map('{:.2f}'.format)
district_summary_df['Average Reading Score'] = district_summary_df['Average Reading Score'].map('{:.2f}'.format)
district_summary_df['% Passing Math'] = district_summary_df['% Passing Math'].map('{:.2f}%'.format)
district_summary_df['% Passing Reading'] = district_summary_df['% Passing Reading'].map('{:.2f}%'.format)
district_summary_df['% Overall Passing'] = district_summary_df['% Overall Passing'].map('{:.2f}%'.format)

# print dataframe
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [16]:
# set base columns for School Summary DataFrame
school_summary_df = school_data[['school_name', 'type', 'size', 'budget']]
school_summary_df['avg_budget'] = school_summary_df['budget'] / school_summary_df['size']

# get avg student grades and merge back into School Summary
student_grades_df = student_data[['school_name', 'math_score', 'reading_score']]
avg_grades_df = student_grades_df.groupby('school_name').mean()
school_summary_df = school_summary_df.merge(avg_grades_df, how = 'inner', on = 'school_name')

# get passing math student information and merge back into school summary
math_pass_count_df = math_pass_df.groupby('school_name')['Student ID'].nunique()
math_pass_count_df = math_pass_count_df.rename('math_pass_count')

school_summary_df = school_summary_df.merge(math_pass_count_df, how = 'inner', on = 'school_name')

# get passing reading students information and merge back into school summary
read_pass_count_df = read_pass_df.groupby('school_name')['Student ID'].nunique()
read_pass_count_df = read_pass_count_df.rename('read_pass_count')

school_summary_df = school_summary_df.merge(read_pass_count_df, how = 'inner', on = 'school_name')

# get students passing both subjects and merge back into school summary
overall_pass_count_df = overall_pass_df.groupby('school_name_math')['Student ID'].nunique()
overall_pass_count_df = overall_pass_count_df.rename('overall_pass_count')
overall_pass_count_df = overall_pass_count_df.rename_axis('school_name')

school_summary_df = school_summary_df.merge(overall_pass_count_df, how = 'inner', on = 'school_name')

# calculate percentage of passing students
school_summary_df['perc_pass_math'] = school_summary_df['math_pass_count'] / school_summary_df['size'] * 100
school_summary_df['perc_pass_read'] = school_summary_df['read_pass_count'] / school_summary_df['size'] * 100
school_summary_df['perc_pass_overall'] = school_summary_df['overall_pass_count'] / school_summary_df['size'] * 100

# remove unnecessary columns
school_summary_df.drop(['math_pass_count', 'read_pass_count', 'overall_pass_count'], axis=1, inplace=True)

#rename column headers
school_summary_df.rename(columns={
    'school_name': 'School Name',
    'type': 'School Type',
    'size': 'Total Students',
    'budget': 'Total School Budget',
    'avg_budget': 'Per Student Budget',
    'math_score': 'Average Math Score',
    'reading_score': 'Average Reading Score',
    'perc_pass_math': '% Passing Math',
    'perc_pass_read': '% Passing Reading',
    'perc_pass_overall': '% Overall Passing'
}, inplace=True)

# set output format
output_format = {
    'Total Students': '{:,.0f}',
    'Total School Budget': '${:,.2f}',
    'Per Student Budget': '${:,.2f}',
    'Average Math Score': '{:.2f}',
    'Average Reading Score': '{:.2f}',
    '% Passing Math': '{:.2f}%',
    '% Passing Reading': '{:.2f}%',
    '% Overall Passing': '{:.2f}%'
}
school_summary_df.set_index('School Name', inplace=True)

school_summary_df.sort_index().style.format(output_format)

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [21]:
top_schools_df = school_summary_df.sort_values('% Overall Passing', ascending=False).head(5)
top_schools_df.style.format(output_format)

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [20]:
top_schools_df = school_summary_df.sort_values('% Overall Passing').head(5)
top_schools_df.style.format(output_format)

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [7]:
# get average per school for each grade
math_9 = student_data.loc[(student_data['grade'] == '9th'), ['school_name', 'math_score']]
math_9_avg = math_9.groupby('school_name')['math_score'].mean()
math_9_avg.rename('9th', inplace=True)

math_10 = student_data.loc[(student_data['grade'] == '10th'), ['school_name', 'math_score']]
math_10_avg = math_10.groupby('school_name')['math_score'].mean()
math_10_avg.rename('10th', inplace=True)

math_11 = student_data.loc[(student_data['grade'] == '11th'), ['school_name', 'math_score']]
math_11_avg = math_11.groupby('school_name')['math_score'].mean()
math_11_avg.rename('11th', inplace=True)

math_12 = student_data.loc[(student_data['grade'] == '12th'), ['school_name', 'math_score']]
math_12_avg = math_12.groupby('school_name')['math_score'].mean()
math_12_avg.rename('12th', inplace=True)

# merge results together into dataframe
math_avg_df = math_9_avg.to_frame()
math_avg_df = math_avg_df.merge(math_10_avg, on='school_name', how='inner')
math_avg_df = math_avg_df.merge(math_11_avg, on='school_name', how='inner')
math_avg_df = math_avg_df.merge(math_12_avg, on='school_name', how='inner')

# print results
math_avg_df.style.format({
    '9th': '{:.2f}',
    '10th': '{:.2f}',
    '11th': '{:.2f}',
    '12th': '{:.2f}'
})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [8]:
# get average per school for each grade
reading_9 = student_data.loc[(student_data['grade'] == '9th'), ['school_name', 'reading_score']]
reading_9_avg = reading_9.groupby('school_name')['reading_score'].mean()
reading_9_avg.rename('9th', inplace=True)

reading_10 = student_data.loc[(student_data['grade'] == '10th'), ['school_name', 'reading_score']]
reading_10_avg = reading_10.groupby('school_name')['reading_score'].mean()
reading_10_avg.rename('10th', inplace=True)

reading_11 = student_data.loc[(student_data['grade'] == '11th'), ['school_name', 'reading_score']]
reading_11_avg = reading_11.groupby('school_name')['reading_score'].mean()
reading_11_avg.rename('11th', inplace=True)

reading_12 = student_data.loc[(student_data['grade'] == '12th'), ['school_name', 'reading_score']]
reading_12_avg = reading_12.groupby('school_name')['reading_score'].mean()
reading_12_avg.rename('12th', inplace=True)

# merge results together into dataframe
reading_avg_df = reading_9_avg.to_frame()
reading_avg_df = reading_avg_df.merge(reading_10_avg, on='school_name', how='inner')
reading_avg_df = reading_avg_df.merge(reading_11_avg, on='school_name', how='inner')
reading_avg_df = reading_avg_df.merge(reading_12_avg, on='school_name', how='inner')

# print results
reading_avg_df.style.format({
    '9th': '{:.2f}',
    '10th': '{:.2f}',
    '11th': '{:.2f}',
    '12th': '{:.2f}'
})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [9]:
spending_bins = [575, 600, 625, 650, 675]
spending_labels = ['$575-600', '$600-625', '$625-650', '$650-675']

school_summary_df['Spending Range (Per Student)'] = pd.cut(school_summary_df['Per Student Budget'], spending_bins, labels=spending_labels, include_lowest=True)
school_summary_df.groupby('Spending Range (Per Student)')['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing'].mean().style.format(output_format)

c:\users\nconn\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

## Scores by School Size

* Perform the same operations as above, based on school size.

In [10]:
size_bins =[0, 1000, 2000, 5000]
size_labels = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

school_summary_df['School Size'] = pd.cut(school_summary_df['Total Students'], size_bins, labels=size_labels, include_lowest=True)
school_summary_df.groupby('School Size')['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing'].mean().style.format(output_format)

c:\users\nconn\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """

## Scores by School Type

* Perform the same operations as above, based on school type

In [11]:
school_summary_df.groupby('School Type')['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', '% Overall Passing'].mean().style.format(output_format)

c:\users\nconn\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.